- expanded = discussion.expanded?
%li.note.note-discussion.timeline-entry
  .timeline-entry-inner
    .timeline-icon
      = link_to user_path(discussion.author) do
        = image_tag avatar_icon(discussion.author), class: "avatar s40"
    .timeline-content
      .discussion.js-toggle-container{ data: { discussion_id: discussion.id } }
        .discussion-header
          .discussion-actions
            %button.note-action-button.discussion-toggle-button.js-toggle-button{ type: "button" }
              - if expanded
                = icon("chevron-up")
              - else
                = icon("chevron-down")
              Toggle discussion
          = link_to_member(@project, discussion.author, avatar: false)

          .inline.discussion-headline-light
            = discussion.author.to_reference
            started a discussion

            - url = discussion_path(discussion)
            - if discussion.for_commit? && @noteable != discussion.noteable
              on
              - commit = discussion.noteable
              - if commit
                commit
                = link_to commit.short_id, url, class: 'monospace'
              - else
                a deleted commit
            - elsif discussion.diff_discussion?
              on
              = conditional_link_to url.present?, url do
                - if discussion.active?
                  the diff
                - else
                  an outdated diff

            = time_ago_with_tooltip(discussion.created_at, placement: "bottom", html_class: "note-created-ago")
          = render "discussions/headline", discussion: discussion

        .discussion-body.js-toggle-content{ class: ("hide" unless expanded) }
          - if discussion.diff_discussion? && discussion.diff_file
            = render "discussions/diff_with_notes", discussion: discussion
          - else
            .panel.panel-default
              = render "discussions/notes", discussion: discussion
